html
    head
        title Pug Template 5.3
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")

    body
        nav.navbar.navbar-dark.bg-dark.navbar-expand-sm
          ul.navbar-nav
            li.nav-item
              a.nav-link.active(href='#') Home
            li.nav-item
              a.nav-link(href='#') About
            li.nav-item
              a.nav-link(href='#') Contact Us

        br
        br
        div.container
            h3 Exercise 5.3 - Pug Template

              div.row
                div.col-md-12
                 p.alert.alert-success= message