<!DOCTYPE html>
<html lang="en">
    <!--Header-->
    <%- include("header") %>
    <%- include("navbar") %>
    <!--Body-->
    <body>
        <br />
        <br />
        <div class="main">
            <h1>Employee Records</h1>
        </div>
        
        <div class="container">
       <a href="/list"><button id="viewBtn" class="btn btn-success">Employee Records</button></a>
        </div>

    <%- include("footer") %>
    <%- include("scripts") %>
    </body>
</html>