<!DOCTYPE html>
<html lang="en">
    <!--Header-->
    <%- include("header") %>
    <%- include("navbar") %>
    <!--Body-->
    <body>
        <!--Data Entry Page-->
        <form>
            <label for="employeeID">Employee ID</label>
            <input type="text" id="employeeID" name="employeeID" value="Employee ID"><br>
            
            <label for="password">Password</label>
            <input type="text" id="password" name="password" value="Password"><br>

            <input type="submit" value="Submit">
            
        </form>
        
    <%- include("footer") %>
    <%- include("script") %>
    </body>
</html>