<!DOCTYPE html>
<html lang="en">
    <!--Header-->
    <%- include("header") %>
    <%- include("navbar") %>
    <!--Body-->
    <body>

        
    <%- include("footer") %>
    <%- include("script") %>
    </body>
</html>